/* General Styles START */
*, *::before, *::after
{
    box-sizing: border-box;
}

html, body
{
    margin: 0;
    padding: 0;
}

html
{
    font-size: 100%; /* To set the rem equal to any browser's default font-size */
    height: 100%; /* To keep the footer at the bottom of the screen */
}

body
{
    /* General styles */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.3;
    background-color: #ff7251;

    /* Keep the footer at the bottom of the screen */
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

a
{
    text-decoration: none;
}

.content-section /* So each webpage's main content won't touch the header, footer, and sides of the screen */
{
    margin: 1em;
}

.container /* Contains a webpage's main content */
{
    width: 80%;
    margin: 0 auto;
    padding: 0 1.5em;
}

.btn /* For all the website's buttons */
{
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
    padding: 0.67em;
    font-weight: bold;
    outline: none;
}

.section-title
{
    font-weight: normal;
    text-align: center;
    font-size: 2.5em;
    color: #98ff98; /* Mint green */
    text-transform: uppercase;
}
/* General Styles END */


/* Header Styles START */
header
{
    position: relative;
    padding: 0.5rem;
    transition: background-color 300ms ease-in-out;
}

.website-links /* Consists of the website's internal links and the header's menu button */
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.website-title /* The website's title */
{
    color: green;
    font-style: italic;
}

/* Styles for the header's links */
.header-links a
{
    display: inline-block;
    font-size: 1.25rem;
    padding: 0.5em;
    color: white;
    transition: background-color 300ms ease-in-out;
}

.header-links a:not(:last-child)
{
    margin-right: 0.5rem;
}

.header-links a:hover
{
    background-color: black;
}

/* Mobile content Styles */
.fa-bars /* Hamburger menu for mobile */
{
    cursor: pointer;
    display: none;
}

.header-menu /* Appears only for mobile */
{
    display: none;
}
/* Header Styles END */


/* Footer Styles START */
footer
{
    margin-top: auto; /* To push it to the bottom of the screen */
}
/* Footer Styles END */


/* index.html Styles START */
/* index.html Styles END */


/* about.html Styles START */
/* about.html Styles END */


/* how_to_play.html Styles START */
/* how_to_play.html Styles END */


/* match_the_number_cards.html Styles START */
/* match_the_number_cards.html Styles END */


/* Media Styles START */
@media (max-width: 23.75rem) /* Equivalent to 380px */
{
    /* Header Styles START */
    header
    {
        background-color: white;
    }

    .header-links
    {
        display: none;
    }

    .website-title
    {
        
    }

    .fa-bars
    {
        display: block;
    }

    .header-menu
    {

    }

    .header-menu a
    {

    }
    /* Header Styles END */
}
/* Media Styles END */
